.band-logo{
    width:40px
}
.top-player img {
    width: 55px;
}
.bg-color{
    background-color: #FFFFFF;
    margin: auto;
}
.main-bg{
    background-color: #E5E5E5;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}